<h3>Combat Stats:</h3>
<div>Tactical Maneuver: <span class='stat'><%= @character.tactical_maneuver %></span></div>
<div>Jump: <span class='stat'><%= @character.jump %></span></div>
<div>Total Blocks: <span class='stat'><%= @character.total_blocks %></span></div>
<div>Dodge: <span class='stat'><%= @character.dodge_numbers %></span></div>
