<% title "Characters" %>
<h1>All Characters</h1>
<hr>
<ul id='characters-list no-dots'>
<% @characters.each do |character| %>
  <li><div class='character-card'><%= link_to(character.name, character) %></div></li>
<% end %>
</ul>
