<h1>All Characters</h1>

<ul id='characters-list'>
<% @characters.each do |character| %>
  <li class='no-dot'><div class='character-card'><%= link_to(character, character.name) %></div></li>
<% end %>
</ul>
