<% title "Weapon Classes" %>
<h1>Weapon Classes</h1>

<p>
Eventually, Empire will have 8 weapon classes. As it is in Alpha, it currently only has 3. The full list is below. Each weapon class has its own set of skills and base class skills so investing in a particular type is particularly advantageous.
<br>
Each type also has its own strengths and weaknesses. For instance, class 1 weapons (Power Weapons) have amazing damage, but relatively small progression, slightly weak attack, and pitiful defense. Early in the game they are incredibly powerful though, and given the right team setup they can decimate the tankiest of opponents.
<ol>
  <li><%= link_to @weapon_classes[0].name, @weapon_classes[0] %></li>
  <li><%= link_to @weapon_classes[1].name, @weapon_classes[1] %></li>
  <li>2 Handed Swords</li>
  <li>Slashing or Bludgeoning Polearms</li>
  <li>Piercing Polearms</li>
  <li>Knives</li>
  <li>Special Weapons</li>
  <li><%= link_to @weapon_classes[2].name, @weapon_classes[2] %></li>
</ol>
</p>


