// Place all the styles related to the navigation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #721e1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  a {
    color: white;
    &:hover {
      color: #EB807D;
    }
    padding-right: 10px;
  }
  box-shadow: 0px 5px 4px grey;
}

#nav-dropdown-button {
  position: absolute;
  top: 1em;
  left: 1em;
}

#dropdown-panel {
  position: fixed;
  top: 40px;
  left: 0;
  display: hidden; // unhide meeee or delete me
  flex-direction: column;
  background-color: #721e1c;
  border-top: 2px solid #721e2d;
  border-bottom: 2px solid #721e2d;
  border-right: 2px solid #721e2d;
  padding: 1em;
  color: white;
  z-index: 3;
  box-shadow: 5px 5px 4px grey;
  // width: 25%;
  a {
    color: white;
    &:hover {
      color: #EB807D;
    }
    text-decoration: none;
  }
}

#nav-button {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  align-items: stretch;
  height: 24px;
  width: 24px;
  border-radius: 6px;
  padding-left: 1px;
  padding-right: 1px;
  padding: 2px;
  background-color: white;
  &:hover {
    background-color: #EB807D;
  }
}

.nav-oval {
  flex-basis: 10%;
  padding: 0px;
  border-radius: 4px;
  border: 2px solid black;
  background-color: hsla(0, 0%, 45%, 0.47);
}

.dropdown-arrow {
  text-decoration: none;
  color: gray;
}


