// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-rank {
  border: 1px solid blue;
  border-radius: 3px;
  background-color: violet;
}

.table-cost {
  border: 1px solid green;
  border-radius: 3px;
  background-color: turquoise;
}

.table-issues {
  border: 1px solid orange;
  border-radius: 3px;
  background-color: yellow;
}

.table-skill-form {
  border: 1px solid red;
  border-radius: 3px;
  background-color: pink;
}
