// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-rank {
  border-bottom: 1px solid #6562A4;
  border-top: 1px solid #6562A4;
  border-radius: 3px;
}

.table-cost {
  border-bottom: 1px solid #FB1A14;
  border-top: 1px solid #FB1A14;
  border-radius: 3px;
}

.table-issues {
  border-top: 1px solid #1E1C50;
  border-bottom: 1px solid #1E1C50;
  border-radius: 3px;
}

.table-skill-form {
  border-bottom: 1px solid #B90500;
  border-top: 1px solid #B90500;
  border-radius: 3px;
}

.skills-list {
  margin-bottom: 2em;
}
