<label>Add this armor to one of your characters' inventories</label>
  <table>
    <tr>
      <th class='table-skill-form'>character</th>
      <th class='table-issues'>status</th>
    </tr>
    <% current_user.characters.each do |character| %>
      <tr>
        <td class='table-skill-form'>
          <%= form_for character.inventory do |f| %>
            <%= hidden_field_tag :armor_id, @armor.id %>
            <%= f.submit character.name, disabled: character.armors.include?(@armor) %>
          <% end %>
        </td>
        <td class='table-issues'>
          <%= (character.armors.include?(@armor)) ? "#{character.name} already has this armor in their inventory" : "Add this armor to #{character.name}'s inventory" %>
        </td>
      </tr>
    <% end %>
  </table>
