<% title "Home" %>

<h1>Welcome to the Empire Character Creator!</h1>

<p>This website allows you to create, view, and manage characters, armors, and weapons for the Empire Tabletop RPG system. This system is designed in search of a deadlier, more tactical, choice based tabletop combat experience. It is still in Alpha and being periodically advanced by me (Dillon Arevalo) and Jack Wostrel. The full (current) rule set for non-magical combat is available <a href="https://docs.google.com/document/d/1hdG6AS3OT_GvYHQVgkcNRVBYiqRBAb2OY-lXYmWqe0A/edit?usp=sharing" target='blank'>here</a>. I hope to eventually incorporate the magical side of Empire once it is sufficiently developed.</p>
<p>This version of the website includes a few things not included in the current release as it is based off the next (in progress) release. It is also relevant to state that while a few things will seem a little bit off, this is more often than not a result of the system being in progress than a bug in the website. Feel free, however, to shoot me an email (dillonbarevalo@gmail.com) or make suggestions on <a href="https://github.com/DillonBArevalo/EmpireApp/tree/development" target='blank'>github</a> if you have any questions/concerns.</p>
