<div id='nav'>
  <div>
    <div id='nav-button'>
      <div class='nav-oval'></div>
      <div class='nav-oval'></div>
      <div class='nav-oval'></div>
    </div>
  </div>

  <div id='nav-links'>
    <% if logged_in? %>
      <%= link_to(current_user.username, user_path(current_user)) %>
      <%= link_to('Logout', logout_path, method: :delete) %>
    <% else %>
      <%= link_to('Login', login_path, remote: true) %>
      <%= link_to('Register', new_user_path, remote: true) %>
    <% end %>
  </div>
</div>
